.order {
	@include standartBlock(50px 0px);
	&__box {
		width: 100%;
		@include standartFlex(column, flex-start, center);
		gap: 30px;
		.order__content {
			width: 100%;
			@include standartFlex(column, center, flex-start);
			gap: 30px;
			.order__title {
				font-family: $montserrat;
				font-size: 24px;
				font-weight: 600;
			}
			.order__text {
				width: 80%;
				font-family: $montserrat;
				font-size: 18px;
				font-weight: 500;
			}
		}
	}
}
