.result {
	@include standartBlock(50px 0px);
	.swiper-button-prev::after,
	.swiper-button-next::after {
		color: $red;
	}
	&__slider_item {
		width: 80%;
		min-height: 500px;
		margin: 0 auto;
		@include standartFlex(row, center, center);
		flex-wrap: wrap;
		@media (max-width: $media-m) {
			flex-direction: column;
			gap: 30px;
		}
		.result__item_img {
			width: 50%;
			@media (max-width: $media-m) {
				width: 100%;
			}
		}
	}
}
