.review {
	@include standartBlock(50px 0px);
	&__box {
		width: 100%;
		@include standartFlex(row-reverse, center, center);
		gap: 60px;
		@media (max-width: $media-m) {
			flex-direction: column;
		}
		.review__content {
			@include standartFlex(column, flex-start, flex-start);
			gap: 30px;
			width: 60%;
			@media (max-width: $media-m) {
				width: 100%;
			}
		}
		.review__title {
			font-family: $montserrat;
			font-size: 40px;
			color: $text-color;
		}
		.review__text {
			font-family: $montserrat;
			font-size: 24px;
		}
		.review__img {
			width: 15%;
			height: fit-content;
			object-fit: cover;
			@media (max-width: $media-m) {
				width: 80%;
			}
			@media (max-width: $media-s) {
				width: 100%;
			}
		}
	}
}
